body {
    margin: 0;
    padding: 5em 0 0 0;
}

#masthead,
#main-content {
    padding: 1em;
}

/*
* --------------------------------------------------------------
* Admin nav
* --------------------------------------------------------------
*/

#nav-admin-nav {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0 0;
    
    background-color: black;
    background-image: -moz-linear-gradient(#000,#686868);
    
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

#nav-admin-nav > li {
    float: left;
    padding: .5em 0;
}

#nav-admin-nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0 .75em;    
    border-left: 1px solid #999;
}

#nav-admin-nav > li:first-child a {
    border: none;
}

#nav-admin-nav li:hover {
    background-color: rgba(255,0,0,.6);
}

/*
* When user is logged in display the logout button on the far
* right side over top of the admin menu.
*/
#nav-admin-nav + form,
#nav-admin-nav + form fieldset {
    margin: 0;
    padding: 0;
}

#nav-admin-nav + form legend {
    display: none;
}

#nav-admin-nav + form {
    position: fixed;
    top: .45em;
    right: 1em;
    z-index: 101;
}

/*
* -------------------------------------------------------------
* Pagination tool bar
* -------------------------------------------------------------
*/

.pager .pagination {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pager .pagination > li {
    float: left;
}

/*
* ----------------------------------------------------------
* Alphabetic pager 
* ----------------------------------------------------------
*/
.alphabetizer {
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
}

.alphabetizer li {
    float: left;
}

.alphabetizer li *:first-child {
    display: block;
    color: black;
    text-decoration: none;
    padding: .25em;
}

.alphabetizer li.current span {
    text-decoration: underline;
}
/*
* ----------------------------------------------------------
* Common buttons
* ----------------------------------------------------------
*/
a.create {
    position: fixed;
    top: 2.25em;
    right: 1em;
    z-index: 1000;
}

/*
* -------------------------------------------------------
* Data grid
* -------------------------------------------------------
*/

form fieldset legend:first-child {
    /*border: none;*/
    font-size: 1.5em;
    letter-spacing: .1em;
    color: #990033;
}
form fieldset {
    border-radius: .5em;
}

table thead {
    background-color: black;
    color: white;
    font-weight: lighter;
    
    background-image: -moz-linear-gradient(#660033,#990033 70%);
}

table thead th {
    padding: .35em 0;
    text-align: left;
}

div table tbody tr:hover td {
    background-color: rgba(100,0,0,.1);;
}

table tbody td {
    padding: .25em 0;
    border-bottom: 1px solid #ccc;
    background-color: #F8F8F8;
}

table tbody tr.odd td {
    background-color: 	#F0F0F0;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    padding-left: .5em;
}

table tbody a {
    color: #990033;
    text-decoration: none;
    text-transform: lowercase;
}

table tbody a:hover {
    text-decoration: underline;
}

table tbody tr td:first-child a {
    color: #383838;
    text-transform: none;
}

/*
* ------------------------------------------------------
* Data entry form
* ------------------------------------------------------
*/
form ol.ui-widget-multi {
    list-style: none;
    margin: .5em 0 0 0;
    
    width: 100%;
    display: table;
    border-collapse: collapse;
}

form ol.ui-widget-multi > li,
.widget-image.one {
    display: table-row;
}

form ol.ui-widget-multi > li > *,
.widget-image.one > * {
    display: table-cell;
    vertical-align: top;
}

form ol.ui-widget-multi > li > label,
.widget-image.one label {
    padding: 0 .25em 0 1em;
}

.widget-image.one label:first-child {
    padding-left: 0;
}

.ui-widget-image + div {
    width: 100px;
    height: 75px;
    
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    
}

form fieldset > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

form fieldset > ul > li {
    margin-top: .5em;
    overflow: hidden;
}

form fieldset > ul > li > label {
    margin-right: .5em;
    width: 7em;
    float: left;
}

form label .required {
    color: red;
}

form select .depth-1 { padding-left: 1em; }
form select .depth-2 { padding-left: 2em; }
form select .depth-3 { padding-left: 3em; }
form select .depth-4 { padding-left: 4em; }

form select[size] {
    width: 20em;
}

.widget-textarea label,
.widget-multi-select label {
    display: block;
}

.widget-textarea label + *,
.widget-multi-select label + * {
    clear: left;
}

/*
* -------------------------------------------------------------
* System messages
* -------------------------------------------------------------
*/
.message {
    margin: 0;
    list-style: none;
    padding: 1em;
    margin: 0 1em;
    border-style: solid;
    border-width: 2px;
}

.message.status {
    border-color: green;
    color: green;
}

.message.error {
    border-color: red;
    color: red;
}

.message.note {
    border-color: gray;
    color: black;
}

/*
* -----------------------------------------------------------
* Breadcrumb nav
* -----------------------------------------------------------
*/
#breadcrumbs {
    overflow: hidden;
    margin: 0;
    padding: .25em 0;
    list-style: none;
    background-color: #F0F0F0;
    border-top: 1px solid white;
    
    -webkit-box-shadow: 0 0 5px 5px #C0C0C0;
    -moz-box-shadow: 0 0 5px 5px #C0C0C0;
    box-shadow: 0 0 5px 5px #C0C0C0;
    
    position: fixed;
    top: 2em;
    width: 100%;
}

#breadcrumbs li {
    float: left;
    margin: 0 .25em;
}

#breadcrumbs li:first-child {
    padding-left: .5em;
}

#breadcrumbs a:before {
    content: ">>";
}

#breadcrumbs li:first-child a:before {
    content: "";
}

#breadcrumbs a {
    text-decoration: none;
    color: #C8C8C8;
}

#breadcrumbs a:hover span {
    text-decoration: underline;
}

#breadcrumbs span {
    margin-left: .4em;
    color: #CC0033;
    text-transform: lowercase;
}

#breadcrumbs li:first-child span {
    margin-left: 0;
}

/*
* ----------------------------------------------------------------------------------
* Editorial form customization testing
* ---------------------------------------------------------------------------------
*/
form.editorial .tabs {
    overflow: hidden;
    margin-bottom: 1em;
}

form.editorial .tabs li {
    float: left;
    margin-right: .5em;
}

form.editorial fieldset > fieldset {
    display: none;
    
    border: none;
    padding: 0;
    margin: 0;
}

form.editorial fieldset > fieldset legend {
    display: none;
}

form.editorial fieldset:target {
    display: block;
}

form.editorial #ed-general {
    display: block;
}

form.editorial fieldset:target ~ fieldset {
    display: none !important;
}